 <div class="row">
   <div class="col-md-6 img-col">
   </div>
   <div class="col-md-6 form-col">
     <form [formGroup]="loginData" (ngSubmit)="onSubmit()">
       <img class="logo-img" src="assets/img/ardhiworth-logo.jpg" alt="Logo">
       <div class="input-group">
         <span class="input-group-addon"><i class="icon_profile"></i></span>
         <input type="text" class="form-control" placeholder="Username" autofocus formControlName="email">
       </div>
       <div class="input-group">
         <span class="input-group-addon"><i class="icon_key_alt"></i></span>
         <input type="password" class="form-control" placeholder="Password" formControlName="password">
       </div>
       <button class="btn btn-primary btn-lg btn-block" type="submit">Login</button>
       <a class="forgot-password" href="#"> Forgot Password?</a>
       <!-- <button class="btn btn-info btn-lg btn-block" type="submit">Signup</button> -->
     </form>
   </div>
 </div>
