 <div class="row">
   <div class="col-md-6 img-col"></div>
   <div class="col-md-6 form-col">
     <img class="logo-img" src="assets/img/ardhiworth-logo.jpg" alt="Logo">
     <form [formGroup]="loginData" (ngSubmit)="onSubmit()" *ngIf="!resetForm">

       <div class="input-group">
         <input type="text" class="form-control" placeholder="Email Address" formControlName="email">
       </div>
       <div class="input-group">
         <input type="password" class="form-control" placeholder="Password" formControlName="password">
       </div>
       <button class="btn btn-primary btn-lg btn-block" type="submit">Login</button>
       <p class="forgot-password" (click)="toggleResetForm()"> Forgot Password?</p>
     </form>
     <form [formGroup]="newPassword" (ngSubmit)="onPasswordReset()" *ngIf="resetForm">
       <div class="input-group">
         <input type="text" class="form-control" placeholder="Email Address" formControlName="email">
       </div>
       <button class="btn btn-primary btn-lg btn-block" type="submit">Reset Password</button>
       <p class="forgot-password" (click)="toggleResetForm()"> Login?</p>
     </form>
   </div>
 </div>
