<div class="col-md-12 add-map dark-bg">
  <div class="row body-container addmap-body">
    <div class="col-md-8 ">
      <section class="panel ">
        <div class="panel-body ">
          <form class="form-horizontal">
            <div class="form-group row">
              <label class="form-label col-md-4" for="inputSuccess">Select Map Type :</label>
              <select class="form-control col-md-8 drop-down">
                <option>RIM Map</option>
                <option>Survey Plan</option>
                <option>Topo Map</option>
              </select>
            </div>
            <div class="form-group row">
              <label class="form-label col-md-4" for="map-name">Map Name :</label>
              <input type="text" class="form-control col-md-8" id="map-name" placeholder="Enter Map Name">
            </div>
            <div class="form-group row">
              <label class="form-label col-md-4" for="area">Area Name :</label>
              <input type="text" class="form-control col-md-8" id="area" placeholder="Enter Area Name">
            </div>
            <div class="form-group row ">
              <label class="form-label col-md-4" for="locality">Locality :</label>
              <input type="text" class="form-control col-md-8" id="locality" placeholder="Enter Map Locality">
            </div>
            <div class="form-group row">
              <label class="form-label col-md-4" for="lr-no">L.R. Number :</label>
              <input type="text" class="form-control col-md-8" id="lr-no" placeholder="Enter L.R. Number">
            </div>
            <div class="form-group row">
              <label class="form-label col-md-4" for="fr-no">F.R. Number :</label>
              <input type="text" class="form-control col-md-8" id="fr-no" placeholder="Enter F.R. Number">
            </div>
            <div class="form-group row">
              <label class="form-label col-md-4" for="sheet-no">Sheet Number :</label>
              <input type="text" class="form-control col-md-8" id="sheet-no" placeholder="Enter Sheet Number">
            </div>
            <div class="form-group row col-md-12">
              <div class="col-md-4"></div>
              <div class="col-md-8 text-center">
                <button type="submit" class="btn" name="submit">Add Map</button>
              </div>
            </div>
          </form>

        </div>
      </section>
    </div>
  </div>
</div>
