.table {
  color: #6D6E7D;
  border: none;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #222840;
}

.table td,
.table th {
  border: none;
}

.btn {
  border: 1px solid #717275;
  color: #6D6E7D;
  background-color: transparent;
  box-shadow: none;
}

.btn:hover {
  background-color: #F1546D;
  color: #fff;
}
