<div class="col-md-12">
  <div class="row">
    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
      <a [routerLink]="['/map-register']" [queryParams]="{ maptype: 'rim-map'}" routerLinkActive="router-link-active"
        (click)="mapsCategory()">
        <div class="info-box blue-bg">
          <i class="fa fa-map-signs"></i>
          <div class="count">6.674</div>
          <div class="title">R.I.M Maps</div>
        </div>
      </a>
      <!--/.info-box-->
    </div>
    <!--/.col-->

    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
      <a [routerLink]="['/map-register']" [queryParams]="{ maptype: 'survey-plan'}"
        routerLinkActive="router-link-active" (click)="mapsCategory()">
        <div class="info-box maroon-bg">
          <i class="fa fa-map-pin"></i>
          <div class="count">7.538</div>
          <div class="title">Survey Plans</div>

        </div>
      </a>
      <!--/.info-box-->
    </div>

    <!--/.col-->

    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
      <a [routerLink]="['/map-register']" [queryParams]="{ maptype: 'topo-map'}" routerLinkActive="router-link-active"
        (click)="mapsCategory()">
        <div class="info-box yellow-bg">
          <i class="fa fa-location-arrow"></i>
          <div class="count">4.362</div>
          <div class="title">Topo-Cadastral Maps</div>
        </div>
      </a>
      <!--/.info-box-->
    </div>
    <!--/.col-->

    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
      <a routerLink="all-maps" routerLinkActive="active">
        <div class="info-box green-bg">
          <i class="fa fa-street-view"></i>
          <div class="count">1.426</div>
          <div class="title">All Maps</div>
        </div>
      </a>
      <!--/.info-box-->
    </div>
  </div>
</div>
