.addmap-body {
  padding: 20px;
  justify-content: center;
  color: #6D6E7D;
}

.form-label {
  margin: 0 auto;
  padding-top: 10px;
  text-align: center;
}

.form-control {
  color: #616273;
  background-color: #222840;
  border: none;
}

.form-group {
  margin-bottom: 22px;
}

.drop-down {
  color: #6D6E7D;
  height: 50px;
}

input {
  height: 3.8em;
  padding: 10px;
  line-height: 10px;
}

.btn {
  border: 1px solid #717275;
  color: #6D6E7D;
  background-color: transparent;
  box-shadow: none;
  text-align: center;
  width: 70%;
  cursor: pointer;
}

.btn:hover {
  background-color: #232840;
  color: #6D6E7D;
}
