.navbar-form .form-control {

  /* width: 200px; */

  height: 30px;

  /* background: white url('../img/icons/search-line-icon.png') no-repeat 3px; */

  padding-left: 24px;

  margin-top: 1px;

  background-color: #2B2D4C;

  border: none

}

.search-input {
  padding: 20px; 
  margin-bottom: 0;
}